<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header><%- include('./partials/header'); %></header>

    <div class="container">
      <h2>Dashboard</h2>
      <table>
        <thead>
          <tr>
            <th>Título</th>
            <th>ISBN</th>
          </tr>
        </thead>
        <tbody>
          <% books.forEach(function(book) { %>
          <tr>
            <td><%= book.title %> - <%= book.author %></td>
            <td><%= book.isbn %></td>
            <td><a href="/books/edit/<%= book.id %>">Editar</a></td>
            <td>
              <form action="/delete/<%= book.id %>" method="post">
                <button type="submit">Eliminar</button>
              </form>
            </td>
            <% }); %>
          </tr>
        </tbody>
      </table>
      <div class="btn_container">
        <a href="/books/add" class="btn_final">Agregar un nuevo libro</a>
      </div>
    </div>
  </body>
</html>
